@charset "UTF-8";
#Quienes {
    display: none;
    background-color: #fff;
    text-align: justify;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 50%;
    position: fixed; 
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
#Quienes h2{
	font-weight: bold;
    font-size: 25px;
}